./* !text !filter !merge !diff
data/fields/* !text !filter !merge !diff
lib/Eigen/* !text !filter !merge !diff
lib/Eigen/src/Cholesky/* !text !filter !merge !diff
lib/Eigen/src/CholmodSupport/* !text !filter !merge !diff
lib/Eigen/src/Core/* !text !filter !merge !diff
lib/Eigen/src/Core/arch/AVX/* !text !filter !merge !diff
lib/Eigen/src/Core/arch/AVX512/* !text !filter !merge !diff
lib/Eigen/src/Core/arch/AltiVec/* !text !filter !merge !diff
lib/Eigen/src/Core/arch/CUDA/* !text !filter !merge !diff
lib/Eigen/src/Core/arch/Default/* !text !filter !merge !diff
lib/Eigen/src/Core/arch/NEON/* !text !filter !merge !diff
lib/Eigen/src/Core/arch/SSE/* !text !filter !merge !diff
lib/Eigen/src/Core/arch/ZVector/* !text !filter !merge !diff
lib/Eigen/src/Core/functors/* !text !filter !merge !diff
lib/Eigen/src/Core/products/* !text !filter !merge !diff
lib/Eigen/src/Core/util/* !text !filter !merge !diff
lib/Eigen/src/Eigenvalues/* !text !filter !merge !diff
lib/Eigen/src/Geometry/* !text !filter !merge !diff
lib/Eigen/src/Geometry/arch/* !text !filter !merge !diff
lib/Eigen/src/Householder/* !text !filter !merge !diff
lib/Eigen/src/IterativeLinearSolvers/* !text !filter !merge !diff
lib/Eigen/src/Jacobi/* !text !filter !merge !diff
lib/Eigen/src/LU/* !text !filter !merge !diff
lib/Eigen/src/LU/arch/* !text !filter !merge !diff
lib/Eigen/src/MetisSupport/* !text !filter !merge !diff
lib/Eigen/src/OrderingMethods/* !text !filter !merge !diff
lib/Eigen/src/PaStiXSupport/* !text !filter !merge !diff
lib/Eigen/src/PardisoSupport/* !text !filter !merge !diff
lib/Eigen/src/QR/* !text !filter !merge !diff
lib/Eigen/src/SPQRSupport/* !text !filter !merge !diff
lib/Eigen/src/SVD/* !text !filter !merge !diff
lib/Eigen/src/SparseCholesky/* !text !filter !merge !diff
lib/Eigen/src/SparseCore/* !text !filter !merge !diff
lib/Eigen/src/SparseLU/* !text !filter !merge !diff
lib/Eigen/src/SparseQR/* !text !filter !merge !diff
lib/Eigen/src/StlSupport/* !text !filter !merge !diff
lib/Eigen/src/SuperLUSupport/* !text !filter !merge !diff
lib/Eigen/src/UmfPackSupport/* !text !filter !merge !diff
lib/Eigen/src/misc/* !text !filter !merge !diff
lib/Eigen/src/plugins/* !text !filter !merge !diff
lib/PerlinNoise/* !text !filter !merge !diff
lib/Quaternion/* !text !filter !merge !diff
lib/cppoptlib/* !text !filter !merge !diff
lib/cppoptlib/linesearch/* !text !filter !merge !diff
lib/cppoptlib/solver/* !text !filter !merge !diff
projects/* !text !filter !merge !diff
projects/main/* !text !filter !merge !diff
projects/sdfGen/* !text !filter !merge !diff
src/* !text !filter !merge !diff
* !text !filter !merge !diff
*.f3d filter=lfs diff=lfs merge=lfs -text
